<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrap {
            display: flex;
        }
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
        }
        li a {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="logo"><img src="https://placehold.jp/90x45.png"></div>
        <ul>
            <li><a href=""><span>Service</span>サービス</a></li>
            <li><a href=""><span>Price</span>料金</a></li>
            <li><a href=""><span>Contact</span>お問い合わせ</a></li>
        </ul>
    </div>
</body>
</html>